{% extends 'insurance/adminbase.html' %}
{% load static %}
{% block content %}
    <style>
        .dropdown-menu {
            position: absolute;
            right: 0;
            left: auto;
            top: auto;
            bottom: calc(100% + 0.125rem);
            display: none;
            float: right;
            min-width: 10rem;
            padding: 0.5rem 0;
            margin: 0.125rem 0 0;
            font-size: 1rem;
            color: #212529;
            text-align: right;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid rgba(0, 0, 0, 0.15);
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
            overflow-y: auto;
            max-height: 20rem;
            z-index: 1001;
            border-radius: 8px;
        }

        .dropdown-menu.show {
            display: block;
        }

        .dropdown-menu.show:last-of-type {
            bottom: auto;
            top: calc(100% + 0.125rem);
        }

        .table-responsive {
            overflow: visible !important;
        }

        .main-header {
            background: rgba(91, 134, 229, 1);
        }

        .img-section {
            padding: 8px;
        }

        .table th {
            padding-left: 2rem;
        }

        .table td {
            padding-left: 2rem;
        }

        /*.table-striped>tbody>tr:nth-child(even)>td {*/
        /*   background-color: rgba(54, 209, 220, 0.95);
        /* }*/
        .heading-text {
            font-size: 38px;
        }

        .heading-button {
            border-radius: 10px;
            font-size: 20px;
            border: 1px solid rgba(91, 134, 229, 0.95);
            background-color: rgba(91, 134, 229, 0.95);
            color: white;
            padding: 6px 16px;
            cursor: pointer;
        }

        .heading-button:hover {
            background-color: #5BBCFF;
            border: 1px solid #5BBCFF;
            transition: 0.3s ease;
        }

        .heading-section {
            display: flex;
            margin: 2rem 1.5rem 0.5rem;
            justify-content: space-between;
        }

        .add-style {
            text-decoration: none !important;
            color: white !important;
        }

        .main-card {
            flex-grow: 1;
        }

        .wrapper {
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 100%;
        }

        .scrollable {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
        }
    </style>

    <div class="wrapper">
        <div class="heading-section">
            <p class="mb-0 text-dark heading-text">View Category</p>
            <a href="/admin-add-category" class="add-style">
                <div class="heading-button d-flex justify-content-center align-items-center">
                    <img src="{% static "image/addicon.png" %}" alt="Actions" class="img-section actions-icon
            dropdown-toggle">
                    Add Category
                </div>
            </a>

        </div>
        <div class="card shadow border-0 mb-7 m-4 main-card">
            <div class="scrollable">

                <div class="table-responsive">
                    <table class="table table-hover table-nowrap table-striped position-relative">
                        <thead class="main-header" style="position: sticky; top: 0; z-index: 1000">
                        <tr>
                            <th scope="col" class="text-white pl-6">S.N.</th>
                            <th scope="col" class="text-white pl-6">Category Name</th>
                            <th scope="col" class="text-white">Creation Date</th>
                            <th class="text-white">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for t in categories %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td> {{ t.category_name }}</td>
                                <td>{{ t.creation_date }}</td>
                                <td>
                                    <div class="dropdown" style="
    cursor: pointer;
">
                                        <img src="{% static "image/finalaction.png" %}" alt="Actions"
                                             class="img-section
                        actions-icon
                        dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" href="{% url 'update-category' t.id %}">
                                                <img src="{% static "image/secondedit.png" %}"
                                                     height="30px" alt="Actions"
                                                     class="img-section actions-icon
                                dropdown-toggle"> Edit
                                            </a>
                                            <button type="button" class="dropdown-item delete-button"
                                                    data-toggle="modal"
                                                    data-target="#deleteModal" data-id="{{ t.id }}">
                                                <img src="{% static "image/seconddelete.png" %}"
                                                     alt="Actions"
                                                     class="img-section actions-icon
                                dropdown-toggle"> Delete
                                            </button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>

    <!-- Delete Confirmation Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Confirm Delete</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger" id="confirmDelete">Delete</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extrascripts %}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const deleteButtons = document.querySelectorAll(".delete-button");

            deleteButtons.forEach(function (button) {
                button.addEventListener("click", function () {
                    const memberId = button.getAttribute("data-id");
                    const confirmDeleteButton = document.getElementById("confirmDelete");

                    confirmDeleteButton.addEventListener("click", function () {
                        window.location.href = "{% url 'delete-category' 0 %}".replace('0', memberId);
                    });
                });
            });
        });


        document.addEventListener("DOMContentLoaded", function () {
            const actionsIcons = document.querySelectorAll(".actions-icon");

            actionsIcons.forEach(function (icon) {
                icon.addEventListener("click", function () {
                    const dropdownMenu = icon.nextElementSibling;
                    closeAllDropdowns();
                    dropdownMenu.classList.toggle("show");
                });
            });


            window.addEventListener("click", function (event) {
                if (!event.target.classList.contains("actions-icon") && !event.target.classList.contains("dropdown-item")) {
                    closeAllDropdowns();
                }
            });

            function closeAllDropdowns() {
                document.querySelectorAll(".dropdown-menu").forEach(function (menu) {
                    menu.classList.remove("show");
                });
            }
        });

    </script>
{% endblock %}



